* {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body {
    background: #CBCBCB;
    border: 1px solid rgba(255, 255, 255, 0.1);
    
    overflow-x: hidden;
}

header a {
    color: black;
    text-decoration: none;
    font-family: sans-serif
}

header a:hover {
    background: rgba(0, 0, 0, 0.5)
}

#logo {
    font-size: 1.5rem;
    font-weight: bold;
}

#header {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    padding-left: 50px;
    padding-right: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(180deg, #FFFFFF 0%, 
    rgba(255, 255, 255, 0.796752) 35.31%, 
    rgba(255, 255, 255, 0.501042) 73.85%, 
    rgba(255, 255, 255, 0) 100%);

    z-index: 1;
}


#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
}

#menu a {
    display: block;
    padding: .5rem;
}

#btn-mobile {
    display: none;
}

@media (max-width: 600px){

    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0;
        background: blanchedalmond;
        height: 0;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {
        visibility: visible;
        height: calc(100vh - 70px);
        overflow-y: auto;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    }

    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #hamburguer {
        display: block;
        width: 20px;
        border-top: 2px solid;
    }

    #hamburguer::after, #hamburguer::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: blue;
        margin-top: 5px;
        background: currentColor;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburguer {
        border-top: transparent;
    }

    #nav.active #hamburguer::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}

/*CONTEUDOS DA PAG*/
/*SESSÃO 1*/

section{
    width: 100%;
    

    display: flex;
    align-items: center;
    background-size: cover;
}

#inicio {
    justify-content: flex-end;
    min-height: 100vh;
}

#txt-conteudo1{
    text-align: center;
    margin: 0 auto;
    z-index: 1;
}

#img-conteudo1{
    position: relative;
    display: flex;
    width: 50%;
    height: 100vh;

    z-index: 0;
}

#img-textura1{
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 0;

    
    z-index: 0;
}

#inicio h1{
    font-size: 40px;
}

/*SESSÃO 2*/

#sobre {
    background: #404040;
    border: 1px solid rgba(255, 255, 255, 0.1);
    height: 70vh;

    justify-content: space-around;
}

#sobre h1 {
    width: 400px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 29px;

    color: #FFFFFF;
}

.boxs {
    border: 1px solid red;
    width: 45%;
    height: 70%;
    color: white;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.boxs div {
    margin: 0 0px;
    width: 250px;
    height: 150px;

    background: #6A6A6A;
    border-radius: 9px;
}


#box1 div {
    align-items: center;
    justify-content: space-around;

    height: 60px;
    display: flex;
}

#limparpng {
   
    width: 40px;
    height: 40px;
}

#box1 h2{
    text-align: center;
    padding-right: 65px;
    font-family: 'Goldman';
}

#box1 p {
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 10px;
}

/*BOX 2*/


#box2 div {
    align-items: center;
    justify-content: space-around;

    height: 60px;
    display: flex;
}

#upgrade {
   
    width: 40px;
    height: 40px;
}

#box2 h2{
    text-align: center;
    padding-right: 65px;
    font-family: 'Goldman';
}

#box2 p {
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 10px;
}

/*BOX 3*/

#box3 div {
    align-items: center;
    justify-content: space-around;

    height: 60px;
    display: flex;
}

#dev {
   
    width: 40px;
    height: 40px;
}

#box3 h2{
    text-align: center;
    padding-right: 30px;
    font-family: 'Goldman';
}

#box3 p {
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 10px;
}

/*BOX4*/

#box4 div {
    align-items: center;
    justify-content: space-around;

    height: 60px;
    display: flex;
}

#orça {
   
    width: 40px;
    height: 40px;
}

#box4 h2{
    text-align: center;
    padding-right: 30px;
    font-family: 'Goldman';
}

#box4 p {
    width: 80%;
    font-size: 19px;
    margin: 0 auto;
    margin-top: 0;
}

/*SESSÃO 3*/

#serviços {
    min-height: 100vh;
}

#img-conteudo3 {
    width: 500px;
    display: flex;
}

#serviços div{
    margin: 0 auto;
}

#serviços h1{
    
    font-size: 50px;
    width: 800px;
}

#serviços p {
    padding-top: 20px;
    width: 500px;
    font-size: 30px;
    margin-bottom: 20px;
}

/*SESSÃO 3 P2*/

#serviços2 {
    min-height: 100vh;
}

#img-conteudo3 {
    width: 500px;
    display: flex;
}

#serviços2 div{
    margin: 0 auto;
}

#serviços2 h1{
    
    font-size: 50px;
    width: 800px;
}

#serviços2 p {
    padding-top: 20px;
    width: 500px;
    font-size: 30px;
    margin-bottom: 20px;
}

.sabermais{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 10px;
}

/*CONTATO*/

#contato {
    background: #404040;
    min-height: 60vh;
}