* {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body {
    background: #CBCBCB;
    border: 1px solid rgba(255, 255, 255, 0.1);
    
    overflow-x: hidden;
}

header a {
    color: black;
    text-decoration: none;
    font-family: sans-serif
}

header a:hover {
    background: rgba(0, 0, 0, 0.5)
}

header img {
    width: 40px;
    height: 40px;
}

#header {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    padding-left: 50px;
    padding-right: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(180deg, #FFFFFF 0%, 
    rgba(255, 255, 255, 0.796752) 35.31%, 
    rgba(255, 255, 255, 0.501042) 73.85%, 
    rgba(255, 255, 255, 0) 100%);

    z-index: 5;
}


#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
}

#menu a {
    display: block;
    padding: .5rem;
}

#btn-mobile {
    display: none;
}

@media (max-width: 600px){

    #menu {
        text-align: center;
        display: block;
        position: absolute;
        width: 50vw;
        top: 70px;
        right: 0;
        background: rgba(255, 255, 255, 1);
        height: 0;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {
        visibility: visible;
        height: calc(100vh - 70px);
        overflow-y: auto;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    }

    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #hamburguer {
        display: block;
        width: 20px;
        border-top: 2px solid;
    }

    #hamburguer::after, #hamburguer::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: blue;
        margin-top: 5px;
        background: currentColor;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburguer {
        border-top: transparent;
    }

    #nav.active #hamburguer::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}

/*CONTEUDOS DA PAG*/
/*SESSÃO 1*/

section{
    width: 100%;
    

    display: flex;
    align-items: center;
    background-size: cover;
}

#inicio {
    justify-content: flex-end;
    min-height: 100vh;
}

#txt-conteudo1{
    text-align: center;
    margin: 0 auto;
    z-index: 1;
}

#img-conteudo1{
    position: relative;
    display: flex;
    width: 40%;
    height: 100vh;

    z-index: 0;
}

#img-textura1{
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 0;

    
    z-index: 0;
}

#inicio h1{
    font-size: 40px;
}

/*SESSÃO 2*/

#sobre {
    background: #404040;
    border: 1px solid rgba(255, 255, 255, 0.1);
    height: 70vh;

    justify-content: space-around;
}


#sobre h1 {
    width: 400px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 29px;

    color: #FFFFFF;
}

.boxs {
    /*border: 1px solid red;*/
    width: 550px;
    height: 350px;
    color: white;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.box {
    margin: 0 0px;
    width: 250px;
    height: 150px;

    background: #6A6A6A;
    border-radius: 9px;
}

.box div{
    align-items: center;
    justify-content: space-around;

    height: 60px;
    display: flex;
}

.box div img {
    width: 40px;
}

.box div h2 {
    text-align: center;
    padding-right: 50px;
    font-family: 'Goldman';
}

#box3 h2{
    text-align: center;
    padding-right: 25px;
    font-family: 'Goldman';
}

.box p {
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
}



/*SESSÃO 3*/

#serviços {
    height: 100vh;
}

.img-conteudo3 {
    width: 500px;
}

#serviços div{
    width: 750px;
    margin: 0 auto;
}

#serviços h1{ 
    font-size: 50px;
}

#serviços p {
    text-align: justify;
    padding-right: 25%;
    padding-top: 20px;
    font-size: 30px;
    margin-bottom: 20px;
}

#serviços .fonte {
    font-size: 20px;
    padding: 0;
}

#serviços2 .fonte {
    font-size: 20px;
    padding: 0;
}

/*SESSÂO 3 P2*/

#serviços2 {
    height: 100vh;
}

#serviços2 div{
    width: 750px;
    margin: 0 auto;
}

#serviços2 h1{ 
    font-size: 50px;
}

#serviços2 p {
    text-align: justify;
    padding-right: 25%;
    padding-top: 20px;
    font-size: 30px;
    margin-bottom: 20px;
}

.sabermais{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 10px;
}

/*CONTATO*/

#contato {
    background: #404040;
    min-height: 60vh;
    display: flex;
    text-align: center;
    justify-content: center;
}

#contato div {
    height: auto;
}

#contato h1{
    margin-bottom: 100px;
    font-size: 40px;
    color: white;
}

#contato a {
    font-size: 25px;
    font-weight: 700;
    padding: 20px 40px;
    text-decoration: none;
    border: green solid 3px;
    border-radius: 60px;
    background: white;
    color: black;
    font-family: 'DM Mono', sans-serif;
}

#contato a:hover{
    background: green;
}

#contato p {
    margin-top: 80px;
    font-size: 25px;
    color: white;
}

@media (max-width: 600px){

    /*INICIO*/
    #inicio {
        background: url(concertando.jpg);
        background-size: cover;
        position: relative;
        width: 100vw;
    }

    .overflow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(255, 255, 255, 0.7);
    }

    #txt-conteudo1{
        z-index: 0;
    }

    #inicio h1{
        font-size: 29px;
    }

    #inicio div{
        margin-bottom: 50px;
    }

    #img-conteudo1 {
        display: none;
    }

    /*FIM do INICIO*/

    /*SOBRE*/
    #sobre{
        display: block;
        height: 140vh;
        text-align: center;
    }

    #sobre h1 {
        margin-top: 70px;
    }
    
    .boxs {
        width: 250px;
        height: 700px;
        margin: 0 auto;
    }

    /*SERVIÇOS1*/

    #serviços{
        height: 165vh;
        margin-bottom: 50px;
        padding-top: 70px;
        display: block;
    }

    #serviços div{
        width: 400px;
    }

    #serviços div p{
        font-size: 28px;
        margin-bottom: 20px;
    }

    .img-conteudo3 {
        width: 300px;
    }

    /*SERVIÇOS2*/

    #serviços2 {
        height: 180vh;
        margin-bottom: 50px;
        padding-top: 40px;
        display: block;
    }

    #serviços2 div{
        width: 400px;
        height: 850px;
    }
    #serviços2 div p{
        font-size: 28px;
        margin-bottom: 20px;
    }

    #serviços2 .img-conteudo3{
        position: absolute;
        right: 0;
    }
}